body
{
   /*background-color:#eeeeee;*/
   background-color:#FCFCF3;
   min-width: 1200px;
   min-height:1000px;
   width:100%;
   height:100%;
}

.col-sm-8
{
  width:100%;
}

.navbar-default
{
  background-color:#FCFCF9;
}

.tab-pane 
{
  background-color:#FCFCF3;
}

.tab-pane.active
{
  display:flex;
  flex-direction: column;
}

#sp
{
  width:480px;
  height:800px;
  position:relative;
  z-index:10;
  top:200px;
  background-color:#d9d9d9;
}

#sp2
{
  width:400px;
  height:800px;
  margin-left:80px;
}

#icon_div
{
  width:20px;
  height:20px;
  margin-top:10px;
  margin-left:370px;
}

#mp
{
  margin-left:3.4%;
  top:87px;
  width:96.6%;
  height:100%;
}


#range
{
  font-size:5pt;
}

.irs-grid-text{
  font-size: 12pt;
  transform: rotate(-90deg) translate(-30px);
}

#dd_body{
  width:1500px;
  height:800px;
}

#dd_sp
{
  width:400px;
  position:absolute;
}

#dd_mp
{
 width:600px;
 height:300px;
 left:450px;
 position:absolute;
}

#about_ct
{
 width:850px;
 height:100%;
 font-family: Merriweather;
 font-size: 14pt;
 color: #333333;
 text-align: justify;
 margin-left: 200px;
 line-height: 36px;
}


#db_div{margin-top:70px; margin-bottom:50px;}
#about_title_div
{
   width:600px;
   height:auto;
   border-style: none none outset none;
   box-shadow: 0px 22px 16px #888;
}

#nvf_sp
{
  height:500px;
  width:280px;
  margin:0;
  padding:0;
}

#nvf_body
{
  height:100%;
  width:100%;
}

#nvf_legend
{
  /*height:500px;
  width:280px;*/
  height:942px;
  width:373px;
  position:absolute;
}

#nvf_legend_sub
{
  height: 500px;
  width: 373px;
  position: relative;
}

#nvf_mp
{
  width:80%;
  height:80%;
  margin-left:374px;
}



#nvf_mp > #popDiv h2
{
  font-family: Merriweather;
  text-decoration-line:underline;
}

#nvf_mp > #popDiv p
{
  font-family: Merriweather;
  font-size: 14pt;
  color: gray;
  text-align: justify;
}

#popDiv
{
  position:absolute;
  width:33%;
  min-width:600px;
  height:600px;
  left:600px;
  display:none;
  z-index:10;
  background-color:#404040;
  border: 2px solid gray;
  padding: 20px;
  border-radius: 25px;
  top:25%;
  overflow-y:auto;
}

#divPopTxt
{
  width:80%;
  height:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:8%;
  color:#FCFCE5;
  transform:uppercase;
}

#reg_hideDesc
{
  height:0px;
  width: 0px;;
}

#footer
{
  width:100%;
  height:33px;
  background-color:#FCFCF9;
  opacity:0.5;
  display:flex;
}

#link
{
  height: 100%;
  width: 65%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#footer > img
{
  height:30px;
  width:30px;
  margin-left:0px;
}

#link > a
{
  font-size:18pt;
  font-family:Merriweather;
  
}

div:fullscreen
{
  background-color:#FCFCF3;
}

#h_select_map
{
  width:100%;
  height:68px;
}

#h_subcontainer
{
  width:100%;
  min-height:1000px;
  height:100%;
  margin-top:10px;
  display:flex;
  flex-direction: row;
}

#h_legend
{
  height:950px;
  width:130px;
  position:absolute;
  overflow-y:clip;
  position:relative;
}

#h_legend_sub
{
  width:100%;
  height:3000px;
  margin-top:0px;
}

#visnetworktimeline
{
  margin-left:10px;
  position:relative;
}