body
{
   /*background-color:#eeeeee;*/
   background-color:#f0f0f0;
   min-width: 1200px;
   min-height:1000px;
   width:1600px;
   height:100%;
}

.col-sm-8
{
  width:100%;
}

.navbar-default
{
  background-color:#f0f0f0;
}

.tab-pane 
{
  background-color:#f0f0f0;
}

.tab-pane.active
{
  display:flex;
  flex-direction: column;
}

#sp
{
  width:480px;
  height:800px;
  position:relative;
  top:200px;
  background-color:#f0f0f0;
}

#sp2
{
  width:400px;
  height:800px;
  margin-left:80px;
}

#icon_div
{
  width:20px;
  height:20px;
  margin-top:10px;
  margin-left:370px;
}

#mp
{
  margin-left:3.4%;
  top:87px;
  width:96.6%;
  height:100%;
}


#range
{
  font-size:5pt;
}

.irs-grid-text{
  font-size: 12pt;
  transform: rotate(-90deg) translate(-30px);
}

#dd_body{
  width:100%;
  height:659px;
  display:flex;
  flex-direction:row;
}

#dd_sp
{
  width:30%;
  position:relative;
}

#dd_mp
{
  width: 70%;
  height: 659px;
 position:relative;
}

#about_ct
{
 width:850px;
 height:100%;
 font-family: Merriweather;
 font-size: 14pt;
 color: #333333;
 text-align: justify;
 margin-left: 200px;
 line-height: 36px;
}


#db_div{margin-top:70px; margin-bottom:50px;}
#about_title_div
{
   width:600px;
   height:auto;
   border-style: none none outset none;
   box-shadow: 0px 22px 16px #888;
}

#nvf_sp
{
  height:500px;
  width:280px;
  margin:0;
  padding:0;
}

#nvf_body
{
  height:100%;
  width:100%;
  display:flex;
  flex-direction: row;
}

#nvf_legend
{
  /*height:500px;
  width:280px;*/
  height:1200px;
  width:373px;
  position:relative;
}

#nvf_legend_sub
{
  height: 500px;
  width: 373px;
  position: relative;
}

#nvf_mp
{
  width:80%;
  height:80%;
  margin-left:10px;
}



#nvf_mp > #popDiv h2
{
  font-family: Merriweather;
  text-decoration-line:underline;
}

#nvf_mp > #popDiv p
{
  font-family: Merriweather;
  font-size: 14pt;
  color: gray;
  text-align: justify;
}

#popDiv
{
  position:absolute;
  width:33%;
  min-width:600px;
  height:600px;
  left:600px;
  display:none;
  z-index:10;
  background-color:#404040;
  border: 2px solid gray;
  padding: 20px;
  border-radius: 25px;
  top:25%;
  overflow-y:auto;
}

#popDiv2
{
  position:absolute;
  width:33%;
  min-width:600px;
  height:600px;
  left:600px;
  display:none;
  z-index:10;
  background-color:#404040;
  border: 2px solid gray;
  padding: 20px;
  border-radius: 25px;
  top:25%;
  overflow-y:auto;
  font-family: Merriweather;
  font-size: 14pt;
  color: gray;
  text-align: justify;
}

#popDiv2 p
{
  font-family: Merriweather;
  font-size: 14pt;
  color: gray;
  text-align: justify;
}

#divPopTxt
{
  width:80%;
  height:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:8%;
  color:#C0C0C0;
  transform:uppercase;
}

#reg_hideDesc
{
  height:0px;
  width: 0px;;
}

#footer
{
  width:100%;
  height:33px;
  background-color:#f0f0f0;
  opacity:0.5;
  display:flex;
}

#link
{
  height: 100%;
  width: 65%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#footer > img
{
  height:30px;
  width:30px;
  margin-left:0px;
}

#link > a
{
  font-size:18pt;
  font-family:Merriweather;
  
}

div:fullscreen
{
  background-color:#f0f0f0;
}

#h_select_map
{
  width:100%;
  height:68px;
}

#h_subcontainer
{
  /*width:100%;
  min-width:2880px;*/
  width:1600px;
  min-height:1000px;
  height:100%;
  margin-top:10px;
  display:flex;
  flex-direction: row;
}

#year_ruler
{
  height:950px;
  width:100px;
  overflow-y:clip;
  position:relative;
}

#year_ruler_sub
{
  width:100%;
  height:3000px;
  margin-top:0px;
}

#h_legend
{
  height:85px;
  width:400px;
  position:relative;
}

#h_legend_sub
{
  width:100%;
  margin-left:20px;
}

#visnetworktimeline
{
  margin-left:10px;
  position:relative;
}

#loadingBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: gray;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  z-index:10;
}

#lb_text {
  position: absolute;
  top: 8px;
  left: 530px;
  width: 30px;
  height: 50px;
  margin: auto auto auto auto;
  font-size: 22px;
  color: #000000;
}

div.outerBorder {
  position: relative;
  top: 400px;
  width: 600px;
  height: 60px;
  margin: auto auto auto auto;
  border: 8px solid rgba(0, 0, 0, 0.1);
  background: rgb(252, 252, 252); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(252, 252, 252, 1)),
    color-stop(100%, rgba(237, 237, 237, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(252, 252, 252, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  border-radius: 72px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#border {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 500px;
  height: 23px;
  margin: auto auto auto auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  margin: auto auto auto auto;
  border-radius: 11px;
  border: 2px solid rgba(30, 30, 30, 0.05);
  background: rgb(0, 173, 246); /* Old browsers */
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
}

#spatial_legend
{
  display:block;
}

#animate_opts
{
  display:flex;
  flex-direction:row;
}

#animateChkbox
{
  position:relative;
  width:100px;
}

#animateBtnDiv
{
  position:relative;
}

#gn_list
{
  background-color:white;
  height:130px;
  overflow-y:scroll;
  border-style:solid;
  border-color:lightgray;
  border-radius: 6px;
}

#gn_list_sub
{
  width:90%;
  height:90%;
  margin:auto;
  overflow-y:visible;
}

.gn_item
{
  border-bottom-color:gray;
  border-bottom-style:solid;
  margin-top:9px;
}

#admin_mp
{
  height:100%;
  width:100%;
  background-color:#f0f0f0;
}

.admin_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  width: 100%;
}

.admin_table > tr > td > h4
{
  margin-top:24px;
}

.td_class, .th_class{
  border: 1px solid #ddd;
  padding: 8px;
}

.tr_class:nth-child(even){background-color: #f2f2f2;}

/*.tr_class:hover :not(.em_mm_table > tr){background-color: #ddd;}*/

.th_class {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}

.em_field
{
  width: 900px;
  height: 100px;
  display:flex;
  flex-direction:row;
}

.emfield > h3
{
  width: 100px;
  height: 28px;
}

.emfield_input
{
  width: 700px;
  margin-left: 100px;
  position: relative;
  height: 41px;
  border-radius: 4px;
  border-color: silver;
  border-style: solid;
  margin-top:10px;
}

#save_button_container
{
  display:flex;
  flex-direction:row;
}

#save_button_container > button:nth-of-type(2){
  margin-left:50px;
}

#em_mp_desc
{
  height:300px;
}

#em_mp_sy, #em_mp_ey
{
  width:200px;
}

#em_mp_pub
{
  margin-left:100px;
  height:20px;
  width:20px;
}

#admin_em_sm
{
  display:block;
}

#admin_em_mm
{
  display:None;
}

.admin_em_mm_container
{
  width: 100%;
  height: 100%;
  border-bottom-color: silver;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.admin_em_mm_container > h2
{
  color:maroon;
}


#years_list_container
{
  height:50px;
  width:200px;
  overflow-y:hidden;
}

#year_list_sub_container
{
  height:1000px;
  width:200px;
  margin-top:9px;
  transition-property: margin-top;
  transition-duration: 2s;
}

.year_field
{
  height:50px;
  width:200px;
  font-size:20pt;
  text-align:center;
}

#generalStats
{
  height:1275px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:gray;
  display:flex;
  flex-direction:column;
}

#generalStats_mapController
{
  height:100px;
  position:relative;
}


#sub_generalStats1, #sub_generalStats2
{
  margin-top:40px;
  height:650px;
  position:relative;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:gray;
}

.fig_caption
{
  margin-top:10px;
  font-family:Merriweather;
  font-size:18pt;
  color:gray;
}

#activeg_year
{
  height:800px;
}

#toggleNewProf_div
{
  display:None;
}

#new_rel_nm_flex
{
  display:flex;
  flex-direction:row;
}

#new_rel_nm_flex > div
{
  position:relative;
}

#new_rel_nm_flex > div:nth-child(2)
{
  position:relative;
  margin-left:40px;
}

.emfield_input_small
{
  width: 400px;
  margin-left: 100px;
  position: relative;
  height: 41px;
  border-radius: 4px;
  border-color: silver;
  border-style: solid;
  margin-top:10px;
}

.admin_new_container table tbody tr
{
  height:58px;
}

#new_prof_desc
{
  height:150px;
}

.warnings_div
{
  display:none;
  height:300px;
  width:500px;
  color:red;
  font-family:Merriweather;
  font-size:15pt;
}
/*
#geoMap:hover
{
  cursor:crosshair;
}*/

#new_prof_spons_types
{
  margin-left:100px;
}

#new_prof_container
{
  width:600px;
}

#new_edge_container td:nth-child(even)
{
  padding-left:80px;
}

#new_edge_container input
{
  border: solid gray 1px;
}

#new_edge_container textarea
{
  border: solid gray 1px;
}

#new_edge_container select
{
  border: solid gray 1px;
  height:28px;
  width:112px;
}
/*
#new_edge_container > table > tr > td > input
{
  margin-left:100px;
}

#new_edge_container > table > tr > td > div
{
  margin-left:100px;
}
*/

.save_button
{
  display:flex;
  flex-direction:row;
}

#chkbx_filter_div
{
  height:164px;
  width:320px;
  display:flex;
  flex-direction:row;
}

.sub_chkbx_filter_div
{
  position:relative;
  width:50%; 
}

.mandatory
{
  color:red;
}


















































