body
{
   background-color:#eeeeee;
   min-width: 1500px;
   min-height:1000px;
   width:100%;
   height:100%;
}

.col-sm-8
{
  width:100%;
}

#sp
{
  width:480px;
  height:800px;
  position:absolute;
  z-index:10;
  top:200px;
  background-color:#d9d9d9;
}

#sp2
{
  width:400px;
  height:800px;
  margin-left:80px;
}

#icon_div
{
  width:20px;
  height:20px;
  margin-top:10px;
  margin-left:370px;
}

#mp
{
  margin-left:3.4%;
  top:87px;
  width:96.6%;
  height:100%;
}


#range
{
  font-size:5pt;
}

.irs-grid-text{
  font-size: 12pt;
  transform: rotate(-90deg) translate(-30px);
}

#dd_body{
  width:1500px;
  height:800px;
}

#dd_sp
{
  width:400px;
  position:absolute;
}

#dd_mp
{
 width:600px;
 height:300px;
 left:450px;
 position:absolute;
}

#about_ct
{
 width:850px;
 height:100%;
 font-family: Merriweather;
 font-size: 14pt;
 color: #333333;
 text-align: justify;
 margin-left: 200px;
 line-height: 36px;
}


#db_div{margin-top:70px; margin-bottom:50px;}
#about_title_div
{
   width:600px;
   height:auto;
   border-style: none none outset none;
   box-shadow: 0px 22px 16px #888;
}

#nvf_legend
{
  height:500px;
  width:280px;
  position:absolute;
}

#nvf_mp
{
  width:100%;
  height:80%;
  margin-left:290px;
}

#nvf_mp > #popDiv h2
{
  font-family: Merriweather;
  text-decoration-line:underline;
}

#nvf_mp > #popDiv p
{
  font-family: Merriweather;
  font-size: 14pt;
  color: gray;
  text-align: justify;
}

#popDiv
{
  position:absolute;
  width:33%;
  min-width:600px;
  height:600px;
  left:600px;
  display:none;
  z-index:10;
  background-color:#FCFCF3;
  border-style:outset;
}

#divPopTxt
{
  width:80%;
  height:80%;
  margin-left:auto;
  margin-right:auto;
  margin-top:8%;
}

#reg_hideDesc
{
  height:0px;
  width: 0px;;
}
